body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}


.container {    
	width: 1000px;             
    padding: 20px;   
    position: relative; 
    margin: 0 auto;
}

.navgation {
    top: 20px; /* 사진의 상단에서 20px 아래로 위치 */
    right: 20px; /* 사진의 오른쪽 끝에서 20px 안쪽에 위치 */
    z-index: 2; 
}

